.modal-sheet {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(66, 66, 66, 0.7);
}

.modal-sheet .modal-dialog {
    max-width: 380px;
    transition: bottom .75s ease-in-out;
}

.modal-sheet .modal-footer {
    padding-bottom: 2rem;
}

.modal-alert .modal-dialog {
    max-width: 380px;
}

.modal-tour .modal-dialog {
    max-width: 380px;
}